body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.container{
    width: 40%;
}


.resultContainer{
    /* display: none; */
    
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.6rem;
}

.resultRightWrong{
    color: #fff;
    padding: 0.2rem;
}